<% provide(:page_title, "ログイン") %>

<div class="signup_main">
  <div class="float_front">
    <%= render "layouts/header" %>
    <%= render 'shared/error_messages' %>
    <div class="signup_container">
      <h1 class="signup_title">ログイン</h1>
      <%= form_with scope: :session, url: login_path, local: true, class: "signup_form" do |form| %>
  
        <div class="form_item">
          <%= form.label :email, "メール" %>
          <%= form.text_field :email %>
        </div>
        <div class="form_item">
          <%= form.label :password, "パスワード" %>
          <%= form.password_field :password %>
        </div>
        <%= form.submit "ログイン" %>
      <% end %>
    </div>
  </div>
