<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <div class="collapse navbar-collapse" id="navmenu">
      <%# 左寄せ %>
      <%# <div class="navbar-left"> %>
        <ul class="navbar-nav navbar-left">
          <li class="nav-item nav-link"><%= link_to "スコアーズ", root_path %></li>
        </ul>
      <%# </div> %>
      <%# 右寄せ %>
      <%# <div class="navbar-right"> %>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item nav-link active"><%= link_to "このサイトについて", about_path %></li>
          <li class="nav-item nav-link active"><%= link_to "ヘルプ", help_path %></li>
          <li class="nav-item nav-link active"><%= link_to "ユーザーリスト", users_path %></li>
          <li class="nav-item nav-link active"><%= link_to "新規投稿", new_post_path %></li>
          <li class="nav-item nav-link active"><%= link_to current_user.name, user_path(current_user) %></li>
          <li class="nav-item nav-link active"><%= link_to "ユーザー設定", edit_user_path(current_user) %></li>
          <li class="nav-item nav-link active"><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <%# dropdownが実装できないのでいったん保留 %>
        <% if false %>
          <li class="nav-item nav-link active">
              <div class="navbar-nav dropdown">
                <a class="nav-item nav-link dropdown-toggle active" href="<%= user_url(current_user) %>"　
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenulink">
                  <%= link_to "ユーザー設定", "#", class: "dropdown-item" %>
                  <%= link_to "ログアウト", logout_path, class: "dropdown-item" %>
                </div>
              </div>
          </li>
        <% end %>
          <%# ここまで %>
          </li>
        </ul>
      <%# </div> %>
    </div>
  </nav>