<% provide(:page_title, "#{@post.user.name}") %>

<div class="show_main">
  <div class="float_front">
    <%= render "layouts/header" %>
    <div class="post_profile">
     <div class="pdf_thumbnail">
        <object data="<%= @post.file.url %>" type="application/pdf" width="200" height="300"></object>
        <%# ログイン済みユーザーにのみ、楽譜の表示を行う %>
        <% if current_user != nil %>
        <%= link_to "pdfを表示", @post.file.url, target: :_blank, class: "pdf_link" %>
        <% end %>
     </div>
     <div class="pdf_info">
       <div class="info_container">
         <div class="pdf_title">
           <h1>楽譜のタイトル</h1>
           <h1><%= @post.title %></h1>
         </div>
         <%# ログインしていれば、いいねを描画する %>
         <% if current_user != nil %>
          <%= render_likes(@post) %>
         <% end %>
         <div class="date_info">
           <p>投稿者： <%= link_to @post.user.name, user_path(@post.user) %></p>
           <p>投稿日： <%= @post.created_at.strftime('%Y/%m/%d') %></p>
           <p>最終更新日： <%= @post.updated_at.strftime('%Y/%m/%d') %></p>
         </div>
       </div>
       <div class="pdf_detail">
         <p>楽譜説明</p>
         <div class="pdf_text_box">
           <p><%= @post.content %></p>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>