<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# flashの描画 %>
    <%= render 'shared/flash' %>    
    <%# 各ファイルの内容を描画 %>
    <%= yield %>
    <div class="debug">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
